body {
	color: white;
	font-family: "Avenir Next";
}

a {
	color: white;
	text-decoration: none;
}

h1 h2 h3 h4 h5 p {
	opacity: 0.7;
	letter-spacing: 3px;
}

header {
	height: 100px;
	background-color: #47403F;
}

header img {
	float: left;
	height: 80px;
	width: 80px;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 20px;
}

li {
	float: left;
	list-style: none;	
	padding-left: 20px;
	padding-top: 10px;
}

main {
	margin: 100px;
	text-align: center;
}

.intro {
	border: 1px solid gray;
	background-image: url(images/webintro.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100%;
}

.statement {
	padding-top: 20px;
	padding-bottom: 20px;
}

.skills {
	padding-top: 20px;
	padding-bottom: 20px;
}


.main-3 img {
	height: 150px;
	width: 150px;
	padding-left: 50px;
}


.rest-4-top img {
	height: 100px;
	width: 100px;
	padding-left: 50px;
	padding-bottom: 20px;
}

.rest-4-bottom img {
	height: 100px;
	width: 100px;
	padding-left: 50px;
}

.books {
	border: 1px solid gray;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-bottom: 10px;
	background-image: url(images/book.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100%;
}

.book {
	height: 50px;
	width: 40%;
	margin-left: 30%;
	margin-bottom: 10px;
	border: 1px solid gray;
}

.websites {
	border: 1px solid gray;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-bottom: 10px;
	background-image: url(images/website.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100%;
}

.website-row {
	height: 50px;
	width: 40%;
	margin-left: 30%;
	margin-bottom: 10px;
	border: 1px solid gray;
}

.videos {
	border: 1px solid gray;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-bottom: 40px;
	background-image: url(images/yt.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100%;
}

.video {
	height: 50px;
	width: 40%;
	margin-left: 30%;
	margin-bottom: 10px;
	border: 1px solid gray;
}

.book, .website-row, .video {
	cursor: pointer;
	border-radius: 10px;
}

footer {
	cursor: pointer;
	background-color: #131212;
	border: 1px solid gray;
	padding: 30px;
}